Resources:
    AWSEBAutoScalingGroup:
        Metadata:
            AWS::CloudFormation::Authentication:
                S3Auth:
                    type: "s3"
                    buckets: ["xlnetpolarization"]
                    rolename: "aws-elastic-beanstalk-ec2-role"
files:
    "/modelWeights/xlnet_1.bin" :
      mode: "000644"
      owner: root
      group: root
      authentication: "S3Auth"
      source: https://s3-us-west-2.amazon.com/xlnetpolarization/xlnet.bin
