option_settings:
  - namespace: aws:elasticbeanstalk:command
    option_name: Timeout
    value: 3600
  - namespace: aws:elb:policies
    option_name: ConnectionSettingIdleTimeout
    value: 3600
  - namespace: aws:elbv2:loadbalancer
    option_name: IdleTimeout
    value: 40000

files:
  /etc/nginx/conf.d/timeout.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      proxy_connect_timeout 4000;
      proxy_send_timeout 4000;
      proxy_read_timeout 4000;
      send_timeout 4000;