files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/bash_script.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/bash_script.log
  "/opt/elasticbeanstalk/tasks/taillogs.d/manage.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/manage.log
  "/opt/elasticbeanstalk/tasks/taillogs.d/endpoint.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/endpoint.log