container_commands:
  01_setup_swap:
    command: "bash .ebextensions/setup_swap.sh"
  03_deps:
    command: "source /var/app/venv/*/bin/activate && pip3 install --no-cache-dir tensorflow && pip3 install hdbscan --no-build-isolation --no-cache-dir --no-binary :all:"
  04_chmod:
    command: "cd /var/app/current && sudo chmod 777 modelWeights"
    leader_only: true


option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: root.settings

