container_commands:
  01_setup_swap:
    command: "bash .ebextensions/setup_swap.sh"
  02_createsu:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py createsu"
    leader_only: true
  03_deps:
    command: "source /var/app/venv/*/bin/activate && pip3 install --no-cache-dir tensorflow && pip3 install hdbscan --no-build-isolation --no-cache-dir --no-binary :all:"
  04_mysql:
    command: "python manage.py makemigrations userPreferences && python manage.py migrate --fake userPreferences zero && python manage.py migrate userPreferences && python manage.py makemigrations newsletter && python manage.py migrate --fake newsletter zero && python manage.py migrate newsletter"

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: root.settings


