container_commands:
  01_setup_swap:
    command: "bash .ebextensions/setup_swap.sh"
  02_deps:
    command: "source /var/app/venv/*/bin/activate && pip3 install --no-cache-dir tensorflow && pip3 install hdbscan --no-build-isolation --no-cache-dir --no-binary :all:"
  03_numpy:
    command: "source /var/app/venv/*/bin/activate && pip3 install numpy --upgrade"

commands:
  02_elastic_beanstalk:
    command: "sudo yum-config-manager --save --setopt=docker-ce-stable.skip_if_unavailable=true && sudo yum install -y yum-utils && sudo yum-config-manager --add-repo https://download.docker.com/linux/centos/docker-ce.repo && sudo yum install docker-ce docker-ce-cli containerd.io && sudo systemctl start docker && sudo docker pull docker.elastic.co/elasticsearch/elasticsearch:7.9.2 && sudo docker run -d -p 9200:9200 -e 'discovery.type=single-node' elasticsearch:7.9.2"

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: root.settings
