files:
    /usr/local/bin/populate_articles_script.sh:
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash
            source /var/app/venv/*/bin/activate
            source /opt/python/current/env
            cd /opt/python/current/app
            python manage.py populateArticles

    /etc/cron.d/fetch_emails_cron:
        mode: "000644"
        owner: root
        group: root
        content: |
            */5 * * * * root /usr/local/bin/populate_articles_script.sh >> /var/log/bash_script.log 2>&1
            * * * * * root python manage.py populateArticles >> /var/log/manage.log 2>&1
            * * * * * root curl http://infra.eba-ydmy6xs3.us-west-2.elasticbeanstalk.com/populateArticles/ >> /var/log/endpoint.log 2>&1

commands:
  rm_old_cron:
    command: "rm -fr /etc/cron.d/*.bak"
    ignoreErrors: true