files:
    /opt/elasticbeanstalk/hooks/appdeploy/post/fix_permissions.sh:
      mode: "000644"
      owner: root
      group: root
      content: |
        #!/bin/bash
        source /var/app/venv/*/bin/activate
        cd /var/app/current
        chown -R  /tmp/.newspaper_scraper/

    /usr/local/bin/populateArticles.sh:
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash
            source /var/app/venv/*/bin/activate
            cd /var/app/current
            /opt/elasticbeanstalk/support/envvars
            RDS_DB_NAME='ebdb'
            RDS_HOSTNAME='aa18g2r6c8m7mnr.c4b7f3nwvzbe.us-west-2.rds.amazonaws.com'
            RDS_PASSWORD='dbrief_testing'
            RDS_USERNAME='dbrief'
            RDS_PORT='3306'
            python manage.py populateArticles

    /etc/cron.d/populate_articles_cron:
        mode: "000644"
        owner: root
        group: root
        content: |
            @hourly root  . /opt/elasticbeanstalk/support/envvars && /usr/local/bin/populateArticles.sh

commands:
  rm_old_cron:
    command: "rm -fr /etc/cron.d/*.bak"
    ignoreErrors: true

