files:
    /opt/elasticbeanstalk/hooks/appdeploy/post/fix_permissions.sh:
      mode: "777"
      owner: root
      group: root
      content: |
        #!/bin/bash
        source /var/app/venv/*/bin/activate
        cd /var/app/current
        chown -R  /tmp/.newspaper_scraper/

    /usr/local/bin/populateArticles.sh:
        mode: "777"
        owner: root
        group: root
        content: |
            #!/bin/bash
            source /var/app/venv/*/bin/activate
            cd /var/app/current
            python manage.py populateArticles

    /etc/cron.d/populate_articles_cron:
        mode: "777"
        owner: root
        group: root
        content: |
            @hourly root /usr/local/bin/populateArticles.sh

commands:
  rm_old_cron:
    command: "rm -fr /etc/cron.d/*.bak"
    ignoreErrors: true

